$main-color-bg: #15112d;
$main-color-bg2: linear-gradient(180deg, rgba(203, 233, 229, 0.2) 0%, rgba(191, 228, 225, 0.2) 83.44%);
$main-color-bg3: #fff;
// $main-color-bg-desc: linear-gradient(180deg, rgba(203, 233, 229, 0.3) 0%, rgba(191, 228, 225, 0.3) 83.44%);
$main-color-bg-desc: rgba(203, 233, 229, 0.3);

$white-color: #fff;
$black-color-text: #0a0621;
$pink-color-text: #ce0476;
$gray-color-img-bg: rgba(196, 196, 196, 0.3);

// .header, .main, .footer {
//   display: none;
// }

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;

  @media (max-width: 1919.98px) {
    max-width: 1140px;
  }

  @media (max-width: 1439.98px) {
    max-width: 100%;
    padding: 0 60px;

    .section__inner {
      padding-top: 60px;
    }
  }

  @media (max-width: 1023.98px) {
  }

  @media (max-width: 767.98px) {
    padding: 0 20px;

    .section__inner {
      padding: 50px 0 60px;
    }

    .section__title {
      margin-bottom: 25px;
    }
  }

  @media (max-width: 374.98px) {
    .btn {
      padding: 16px 47px;
    }
  }
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'Times New Roman', Arial, sans-serif;
  color: $black-color-text;
  // width: 1440px;
}

.contacts {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:first-child {
      position: relative;
      margin-right: 43px;

      &:before {
        position: absolute;
        content: '';
        right: -22px;
        top: 1px;
        width: 1px;
        height: 22px;
        background-color: $white-color;
        opacity: 0.6;
      }
    }
  }

  &__phone {
    color: $white-color;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;

    span {
      &:first-child {
        font-size: 16px;
        font-weight: normal;
      }

      &:last-child {
        font-size: 16px;
      }
    }
  }
}

.btn {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  padding: 16px 50px;
  background: linear-gradient(180deg, #f52d9e 0%, rgb(206, 4, 118) 100%);
  box-shadow: 0px 0px 50px rgba(206, 4, 118, 0.8);
  border-radius: 100px;
  border: none;
  color: $white-color;
}

.section {
  &__inner {
    padding: 73px 0 80px;
  }

  &__title {
    display: block;
    text-align: center;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 44px;
  }
}
