$main-color-bg: #15112d;
$main-color-bg2: linear-gradient(180deg, rgba(203, 233, 229, 0.2) 0%, rgba(191, 228, 225, 0.2) 83.44%);
$main-color-bg3: #ffffff;
// $main-color-bg-desc: linear-gradient(180deg, rgba(203, 233, 229, 0.3) 0%, rgba(191, 228, 225, 0.3) 83.44%);
$main-color-bg-desc: rgba(203, 233, 229, 0.3);
$white-color: #ffffff;
$black-color-text: #0a0621;
$pink-color-text: #ce0476;
$pink-color-confid: #ff2ea4;
$gray-color-img-bg: rgba(196, 196, 196, 0.3);

// .header,
// .main,
// .footer {
//   display: none;
// }

.container {
  width: 100%;
  max-width: 1380px;
  margin: 0 auto;

  @media (max-width: 1919.98px) {
    max-width: 1140px;
  }

  @media (max-width: 1439.98px) {
    max-width: 100%;
    padding: 0 60px;

    .section__inner {
      padding-top: 60px;
    }
  }

  @media (max-width: 1023.98px) {
  }

  @media (max-width: 767.98px) {
    padding: 0 20px;

    .section__inner {
      padding: 50px 0 60px;
    }

    .section__title {
      margin-bottom: 25px;
    }
  }

  @media (max-width: 374.98px) {
    .section__inner {
      padding: 40px 0 60px;
    }

    .btn {
      padding: 16px 47px;
    }
  }
}

html {
  box-sizing: border-box;
  overflow-x: hidden;

  &.overflow-hidden {
    overflow: hidden;
  }
}

body {
  overflow-x: hidden;

  font-family: 'Montserrat', 'Times New Roman', Arial, sans-serif;
  color: $black-color-text;

  &.overflow-hidden {
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }
}

.contacts {
  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:first-child {
      position: relative;

      margin-right: 43px;

      &:before {
        content: '';
        position: absolute;
        top: 1px;
        right: -22px;

        width: 1px;
        height: 22px;

        background-color: $white-color;
        opacity: 0.6;
      }
    }
  }

  &__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    color: $white-color;

    span {
      &:first-child {
        font-weight: normal;
        font-size: 16px;
      }

      &:last-child {
        font-size: 16px;
      }
    }
  }
}

.header {
  &__burger {
    z-index: 5;

    display: none;
    justify-content: center;
    align-items: center;
    padding: 9px 21px;

    background: rgba(255, 255, 255, 0.2);
    border: none;
    border-radius: 50px;
    cursor: pointer;
  }

  &__burger-line {
    position: relative;

    width: 11px;
    height: 2px;
    margin-right: 6px;

    background-color: $white-color;
    border-radius: 2px;
    opacity: 0.7;

    &::before {
      content: '';
      position: absolute;
      top: -3px;
      right: 0;

      width: 14px;
      height: 2px;

      background-color: $white-color;
      border-radius: 2px;

      -webkit-transition: all 0.1s ease-out;
      transition: all 2s ease-out;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: -3px;

      width: 17px;
      height: 2px;

      background-color: $white-color;
      border-radius: 2px;

      -webkit-transition: all 0.1s ease-out;
      transition: all 2s ease-out;
    }
  }

  &__burger-text {
    font-size: 18px;
    line-height: 22px;
    color: $white-color;

    opacity: 0.9;
  }
}

.btn {
  padding: 16px 50px;

  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: $white-color;

  background: linear-gradient(180deg, #f52d9e 0%, rgb(206, 4, 118) 100%);
  border: none;
  border-radius: 100px;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 0 40px rgba(206, 4, 118, 0.6);
  }

  &:focus {
    box-shadow: 0 0 40px rgba(206, 4, 118, 0.6);
  }
}

.section {
  &__inner {
    padding: 73px 0 80px;
  }

  &__title {
    display: block;
    margin-bottom: 44px;

    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    text-align: center;
  }
}

@keyframes show-modal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
