.advantages {
  background-color: $main-color-bg3;

  .section__inner {
    padding-bottom: 40px;
  }

  &__list {
    max-width: 1191px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__item {
    display: flex;
    align-items: center;
    // width: 225px;
  }

  &__text {
    margin-left: -50px;
    font-size: 16px;
    line-height: 20px;

    span {
      font-weight: bold;
      font-size: 20px;
      color: $pink-color-text;
    }
  }

  @media (max-width: 1919.98px) {
  }

  @media (max-width: 1439.98px) {
    .section__inner {
      padding-top: 56px;
    }

    &__list {
      max-width: 720px;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }

  @media (max-width: 1023.98px) {
  }

  @media (max-width: 767.98px) {
  }

  @media (max-width: 374.98px) {
  }
}
