.advantages {
  background-color: $main-color-bg3;

  .section__inner {
    padding-bottom: 40px;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1191px;
    margin: 0 auto;
  }

  &__item {
    display: flex;
    align-items: center;
    // width: 225px;
  }

  &__text {
    margin-left: -50px;

    font-size: 16px;
    line-height: 20px;

    span {
      font-weight: bold;
      font-size: 20px;
      color: $pink-color-text;
    }
  }

  @media (max-width: 1919.98px) {
  }

  @media (max-width: 1439.98px) {
    .section__inner {
      padding-top: 55px;
    }

    &__list {
      flex-wrap: wrap;
      justify-content: space-evenly;
      max-width: 720px;
    }
  }

  @media (max-width: 1023.98px) {
  }

  @media (max-width: 767.98px) {
    &__list {
      flex-direction: column;
      align-items: center;

      text-align: center;

      :last-child {
        margin-bottom: 0;
      }
    }

    &__item {
      margin-bottom: 20px;
    }

    &__img {
      display: none;
    }

    &__text {
      margin-left: 0;
    }
  }

  @media (max-width: 374.98px) {
  }
}
