.feedback {
  position: relative;

  display: none;
  overflow: hidden;
  background: url(../assets/img/bg_popup.png) no-repeat center;
  background-size: cover;

  &.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;

    display: block;

    opacity: 0; /*Элемент полностью прозрачный (невидимый)*/
    transition: 1s; /*Скорость перехода состояния элемента*/
    animation: show-modal 0.4s 1; /* Указываем название анимации, её время и количество повторов*/
    animation-fill-mode: forwards; /* Чтобы элемент оставался в конечном состоянии анимации */
    // animation-delay: 1s; /* Задержка перед началом */
  }

  .section__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    // position: relative;
    height: 100vh;
  }

  &__top {
    z-index: 5;

    // position: absolute;
    // top: 50px;

    align-self: center;
  }

  &__middle {
    z-index: 5;

    align-self: center;

    text-align: center;
  }

  .section__title {
    color: $white-color;
  }

  &__subtitle {
    width: 100%;
    max-width: 290px;
    margin: 20px 0;

    line-height: 15px;
    color: $white-color;
  }

  &__form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }

  &__form-input {
    width: 100%;

    // opacity: 0.4;
    padding: 2px;
    padding-top: 20px;
    padding-bottom: 10px;

    font-size: 18px;
    line-height: 22px;
    color: $white-color;

    background: transparent;
    border: none;
    border-bottom: 1px solid $pink-color-text;
  }

  &__btn {
    margin-top: 25px;
  }

  &__btn-back {
    margin-top: 24px;

    line-height: 15px;
    color: $white-color;

    background: transparent;
    border: none;
  }

  &::after {
    // content: "";
    position: absolute;
    top: -335px;
    left: 60px;
    z-index: 0;

    width: 760px;
    height: 1000px;

    background: #f52d9e;

    // filter: blur(250px);
    border-radius: 90px;

    // transform: rotate(45deg);
    -webkit-transform: matrix(0.62, 0.78, -0.78, 0.62, 0, 0);
    transform: matrix(0.62, 0.78, -0.78, 0.62, 0, 0);
    opacity: 0.3;
  }

  &:before {
    // content: "";
    position: absolute;
    top: 0;
    right: -155px;
    z-index: 0;

    // width: 850px;
    // height: 1141px;

    width: 609px;
    height: 950px;

    background: #4e9cff;

    // filter: blur(250px);
    border-radius: 90px;

    // transform: rotate(-19deg);
    -webkit-transform: matrix(0.11, 0.99, 0.99, -0.11, 0, 0);
    transform: matrix(0.11, 0.99, 0.99, -0.11, 0, 0);
    opacity: 0.3;
  }
}
