.footer {
  // background: $main-color-bg;
  background: url(../assets/img/bg_footer.png) no-repeat center;
  background-size: cover;

  .section__inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 160px;
  }

  .section__title {
    margin-bottom: 18px;

    text-align: left;
    color: $white-color;
  }

  &__subtitle {
    margin-bottom: 5px;

    font-size: 16px;
    line-height: 20px;
    color: $white-color;
  }

  &__form-input {
    width: 160px;
    margin-right: 20px;

    // opacity: 0.4;
    padding: 2px;
    padding-bottom: 10px;

    font-size: 18px;
    line-height: 22px;
    color: $white-color;

    background: transparent;
    border: none;
    border-bottom: 1px solid $pink-color-text;

    &::placeholder {
      color: $white-color;

      opacity: 0.6;
    }
  }

  &__confid {
    width: 100%;
    max-width: 440px;
    margin-top: 11px;

    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    color: $white-color;

    opacity: 0.7;

    span {
      color: $pink-color-confid;

      cursor: pointer;
    }
  }

  &__phone {
    margin-bottom: 5px;

    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: $white-color;

    span {
      &:first-child {
        font-weight: normal;
        font-size: 18px;
      }

      &:last-child {
        font-size: 20px;
      }
    }
  }

  &__mail {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: $white-color;
  }

  &__list {
    display: flex;
    align-items: center;
    margin: 20px 0;

    opacity: 0.7;

    & li:first-child {
      margin-right: 14px;
    }
  }

  &__logo img {
    width: 106px;
    height: auto;
  }

  &__address {
    font-size: 16px;
    line-height: 20px;
    color: $white-color;
  }

  &__copyright {
    line-height: 20px;
    color: $white-color;

    opacity: 0.7;
  }

  @media (max-width: 1919.98px) {
  }

  @media (max-width: 1439.98px) {
    .section__inner {
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      padding-bottom: 60px;

      text-align: center;
    }

    &__left {
      margin-bottom: 58px;
    }

    .section__title {
      text-align: center;
    }

    &__form {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 354px;
      margin: 0 auto;
    }

    &__form-input {
      width: 100%;
      margin-right: 0;
      padding-top: 20px;
    }

    &__btn {
      margin-top: 25px;
    }

    &__confid {
      max-width: 430px;
      margin: 0 auto;
      margin-top: 20px;
    }

    &__address {
      text-align: left;
    }
  }

  @media (max-width: 1023.98px) {
  }

  @media (max-width: 767.98px) {
    .section__inner {
      align-items: flex-start;
    }

    &__left {
      margin-bottom: 45px;
    }

    .section__title {
      width: 219px;

      text-align: left;
    }

    &__subtitle {
      text-align: left;
    }

    &__form {
      margin: 0;
    }

    &__confid {
      text-align: left;
    }

    &__right {
      text-align: left;
    }
  }

  @media (max-width: 374.98px) {
  }
}
