.header {
  background: $main-color-bg url(../assets/img/header-backgroud.png) no-repeat right center;
  background-size: contain;

  &__inner {
    position: relative;
    height: 672px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0 65px 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    align-self: center;
    cursor: pointer;
  }

  &__title {
    width: 608px;
    color: $white-color;
    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
  }

  &__desc {
    color: $white-color;
    display: block;
    margin-top: 31px;
    font-size: 16px;
    line-height: 20px;
  }

  &__btn {
    margin-top: 32px;
  }

  &__navigation {
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 1145px;
    width: 100%;
    background: radial-gradient(122.88% 958.33% at 49.96% 270%, #1860bb 0%, #720747 100%),
      radial-gradient(86.33% 1615.09% at 34.15% 50%, #1860bb 0%, #720747 100%);
    box-shadow: 0px 0px 90px rgba(21, 17, 45, 0.4);
    border-radius: 50px;
  }

  &__nav-items {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
  }

  &__cell {
    font-size: 16px;
    line-height: 20px;
    padding: 20px 0;
  }

  &__cell-link {
    color: $white-color;
  }

  &__burger {
    display: none;
  }

  @media (max-width: 1919.98px) {
  }

  @media (max-width: 1439.98px) {
    background-size: 582px auto;

    &__inner {
      height: 590px;
    }

    &__navigation {
      display: none;
    }

    &__burger {
      display: flex;
    }

    &__title {
      width: 461px;
    }
  }

  @media (max-width: 1023.98px) {
    background-position: right bottom;

    &__inner {
      justify-content: flex-start;
      height: 996px;
    }

    &__title {
      margin-top: 50px;
      width: 100%;
      max-width: 540px;
    }

    &__bottom {
      position: absolute;
      bottom: 40px;
    }
  }

  @media (max-width: 767.98px) {
    background-size: 460px auto;

    &__inner {
      height: 781px;
      padding-top: 35px;
    }

    .contacts {
      &__list {
        display: flex;
        align-items: center;
      }

      &__item {
        &:first-child {
          margin-right: 0;
          &:before {
            display: none;
          }
        }
      }

      &__item {
        &:last-child {
          display: none;
        }
      }
    }

    &__title {
      margin-top: 38px;
      font-size: 29px;
      line-height: 37px;
    }

    &__desc {
      width: 253px;
      margin-top: 10px;
    }

    &__btn {
      margin-top: 20px;
    }
  }

  @media (max-width: 374.98px) {
    background-size: 400px auto;

    &__inner {
      height: 740px;
      padding-top: 35px;
    }

    &__title {
      font-size: 28px;
      line-height: 33px;
    }
  }
}
