.header {
  // background: $main-color-bg url(../assets/img/header-backgroud.png) no-repeat;
  background:
    url(../assets/img/header-backgroud3.png) no-repeat,
    url(../assets/img/bg_header.png) no-repeat;
  background-position: right center, center;
  background-size: contain, cover;

  &__inner {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 672px;
    padding: 40px 0 65px 0;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__bottom {
    align-self: center;

    cursor: pointer;
  }

  &__title {
    width: 608px;

    font-weight: 900;
    font-size: 40px;
    line-height: 49px;
    color: $white-color;
  }

  &__desc {
    display: block;
    margin-top: 31px;

    font-size: 16px;
    line-height: 20px;
    color: $white-color;
  }

  &__btn {
    margin-top: 32px;
  }

  &__navigation {
    position: absolute;
    bottom: -30px;
    left: 50%;

    width: 100%;
    max-width: 1145px;

    background: radial-gradient(122.88% 958.33% at 49.96% 270%, #1860bb 0%, #720747 100%),
      radial-gradient(86.33% 1615.09% at 34.15% 50%, #1860bb 0%, #720747 100%);
    border-radius: 50px;
    box-shadow: 0 0 90px rgba(21, 17, 45, 0.4);
    transform: translateX(-50%);
  }

  &__nav-items {
    display: flex;
    justify-content: space-between;
    padding: 0 60px;
    margin: 0 auto;
  }

  &__cell {
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px 0;
    text-align: center;
  }

  &__cell-link {
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: $white-color;

    &:hover {
      font-weight: 500;
    }
  }

  &__burger {
    display: none;
  }

  @media (max-width: 1919.98px) {}

  @media (max-width: 1439.98px) {
    // background-size: 582px auto;

    &__inner {
      height: 590px;
    }

    &__navigation {
      display: none;
    }

    &__burger {
      display: flex;
    }

    &__title {
      width: 461px;
    }
  }

  @media (max-width: 1023.98px) {
    background-position: right bottom, center;

    &__inner {
      justify-content: flex-start;
      height: 996px;
    }

    &__title {
      width: 100%;
      max-width: 540px;
      margin-top: 50px;
    }

    &__bottom {
      position: absolute;
      bottom: 40px;
    }
  }

  @media (max-width: 767.98px) {
    background-position: right 85%, center;
    // background-size: 374px auto;

    &__inner {
      height: 781px;
      padding-top: 35px;
    }

    .contacts {
      &__list {
        display: flex;
        align-items: center;
      }

      &__item {
        &:first-child {
          margin-right: 0;

          &:before {
            display: none;
          }
        }
      }

      &__item {
        &:last-child {
          display: none;
        }
      }
    }

    &__title {
      margin-top: 38px;

      font-size: 29px;
      line-height: 37px;
    }

    &__desc {
      width: 253px;
      margin-top: 10px;
    }

    &__btn {
      margin-top: 20px;
    }
  }

  @media (max-width: 374.98px) {
    background-position: right 93%, center;
    // background-size: 319px auto;

    &__inner {
      height: 740px;
      padding-top: 35px;
    }

    &__title {
      font-size: 28px;
      line-height: 33px;
    }
  }
}