.menu {
  position: relative;

  display: none;
  overflow: hidden;

  background: $main-color-bg;

  &.active {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;

    display: block;
  }

  .section__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

// position: relative;
    height: 100vh;
  }

  &__top {
    z-index: 5;

// position: absolute;
    // top: 50px;

    align-self: center;
  }

  &__middle {
    z-index: 5;

    align-self: center;

    text-align: center;
  }

  .section__title {
    color: $white-color;
  }

  &__cell {
    // color: $white-color;
    margin-bottom: 40px;

    line-height: 20px;
    &:last-child {
      margin-bottom: 0;
    }
  }

  &__cell-link {
    color: $white-color;
  }

  .header__burger.active .header__burger-line {
    background: 0 0;

    &::before {
      top: 0;

      width: 16px;

      transform: rotate(45deg);
    }

    &::after {
      bottom: 0;

      width: 16px;

      transform: rotate(-45deg);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: -335px;
    left: 60px;
    z-index: 0;

    width: 760px;
    height: 1000px;

    background: #f52d9e;

// filter: blur(250px);
    border-radius: 90px;

// transform: rotate(45deg);
    -webkit-transform: matrix(0.62, 0.78, -0.78, 0.62, 0, 0);
            transform: matrix(0.62, 0.78, -0.78, 0.62, 0, 0);
    opacity: 0.3;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: -155px;
    z-index: 0;

// width: 850px;
    // height: 1141px;

    width: 609px;
    height: 950px;

    background: #4e9cff;

// filter: blur(250px);
    border-radius: 90px;

// transform: rotate(-19deg);
    -webkit-transform: matrix(0.11, 0.99, 0.99, -0.11, 0, 0);
            transform: matrix(0.11, 0.99, 0.99, -0.11, 0, 0);
    opacity: 0.3;
  }

  @media (max-width: 1919.98px) {
  }

  @media (max-width: 1439.98px) {
  }

  @media (max-width: 1023.98px) {
  }

  @media (max-width: 767.98px) {
  }

  @media (max-width: 374.98px) {
    &__cell {
      margin-bottom: 30px;
    }
  }
}
