.team {
  &__inner {
    padding: 70px 0 90px;
  }

  &__top {
    margin-top: 43px;
    display: flex;
    justify-content: center;
  }

  &__top-img-wrap {
    position: relative;
    width: 323px;
    height: 323px;
    background-color: $gray-color-img-bg;
    margin-right: 40px;
  }

  &__top-img {
    width: 216px;
    height: 216px;
    position: absolute;
    left: 51px;
    bottom: 35px;

    background: linear-gradient(233.5deg, #1860bb -8.16%, #720747 109.34%),
      linear-gradient(318.85deg, #153366 3.36%, #6c0947 115.9%);
    border-radius: 60px;
    transform: rotate(-152deg);
  }

  &__top-name {
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $pink-color-text;
  }

  &__top-position {
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }

  &__top-desc {
    position: relative;
    padding: 32px 57px;
    background: linear-gradient(180deg, rgba(203, 233, 229, 0.3) 15.17%, rgba(191, 228, 225, 0.3) 82.59%);
    border-radius: 30px;
    width: 783px;

    &:before {
      content: '';
      width: 0;
      height: 0;
      right: 100%;
      top: 38px;
      position: absolute;
      border-top: 16px solid transparent;
      border-right: 28px solid rgba(203, 233, 229, 0.3);
      border-bottom: 16px solid transparent;
    }
  }

  &__top-text {
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    span {
      color: $pink-color-text;
    }

    ul {
      margin-bottom: 3px;
    }
  }

  &__bottom {
    margin-top: 50px;
  }

  &__bottom-list {
    display: flex;
    justify-content: space-between;
  }

  &__bottom-item {
    display: flex;
    flex-direction: column;
    width: 195px;

    &:last-child .team__bottom-img-wrap {
      width: 142px;
      height: 142px;
      border-radius: 40px;
      transform: rotate(109.37deg);
      background-color: linear-gradient(180deg, #cbe9e5 0%, #bfe4e1 83.44%);
    }
  }

  // &__bottom-item {

  // }

  &__bottom-img-wrap {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: $gray-color-img-bg;
    margin-bottom: 20px;

    span {
      position: absolute;
      top: 25%;
      left: 25%;
      font-weight: 900;
      font-size: 56px;
      line-height: 68px;
      text-align: center;
      background: -o-linear-gradient(306.06deg, #1860bb -30.72%, #720747 120.95%),
        -o-linear-gradient(181.14deg, #283956 -27.18%, #4a0a32 120.71%), #c4c4c4;
      background: linear-gradient(306.06deg, #1860bb -30.72%, #720747 120.95%),
        linear-gradient(181.14deg, #283956 -27.18%, #4a0a32 120.71%), #c4c4c4;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: rotate(-109.37deg);
    }
  }

  &__bottom-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $pink-color-text;
  }

  &__bottom-position {
    font-size: 16px;
    line-height: 20px;
    color: $black-color-text;
  }
}
