.team {
  background: $main-color-bg2;

  &__top {
    display: flex;
    justify-content: center;
  }

  &__top-img-wrap {
    position: relative;
    width: 323px;
    height: 323px;
    background-color: $gray-color-img-bg;
    margin-right: 40px;
  }

  &__top-img {
    width: 216px;
    height: 216px;
    position: absolute;
    left: 51px;
    bottom: 35px;

    background: linear-gradient(233.5deg, #1860bb -8.16%, #720747 109.34%),
      linear-gradient(318.85deg, #153366 3.36%, #6c0947 115.9%);
    border-radius: 60px;
    transform: rotate(-152deg);
  }

  &__top-name {
    display: block;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: $pink-color-text;
  }

  &__top-position {
    display: block;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
  }

  &__top-desc {
    position: relative;
    padding: 32px 57px;
    background: $main-color-bg-desc;
    border-radius: 30px;
    width: 783px;

    &:before {
      content: '';
      width: 0;
      height: 0;
      right: 100%;
      top: 38px;
      position: absolute;
      border-top: 16px solid transparent;
      border-right: 28px solid $main-color-bg-desc;
      border-bottom: 16px solid transparent;
    }
  }

  &__top-text {
    margin-top: 12px;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;

    span {
      color: $pink-color-text;
    }

    ul {
      margin-bottom: 3px;
    }
  }

  &__bottom {
    margin-top: 50px;
  }

  &__bottom-list {
    display: flex;
    justify-content: space-between;
  }

  &__bottom-item {
    display: flex;
    flex-direction: column;
    width: 195px;

    &:last-child .team__bottom-img-wrap {
      width: 142px;
      height: 142px;
      border-radius: 40px;
      transform: rotate(109.37deg);
    }
  }

  &__bottom-img-wrap {
    position: relative;
    width: 150px;
    height: 150px;
    background-color: $gray-color-img-bg;
    margin-bottom: 20px;

    span {
      position: absolute;
      top: 25%;
      left: 25%;
      font-weight: 900;
      font-size: 56px;
      line-height: 68px;
      text-align: center;
      background: -o-linear-gradient(306.06deg, #1860bb -30.72%, #720747 120.95%),
        -o-linear-gradient(181.14deg, #283956 -27.18%, #4a0a32 120.71%), #c4c4c4;
      background: linear-gradient(306.06deg, #1860bb -30.72%, #720747 120.95%),
        linear-gradient(181.14deg, #283956 -27.18%, #4a0a32 120.71%), #c4c4c4;
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transform: rotate(-109.37deg);
    }
  }

  &__bottom-name {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: $pink-color-text;
  }

  &__bottom-position {
    font-size: 16px;
    line-height: 20px;
    color: $black-color-text;
  }

  @media (max-width: 1919.98px) {
    .container {
      max-width: 100%;
      padding: 0 60px;
    }
  }

  @media (max-width: 1439.98px) {
    &__top-img-wrap {
      width: 288px;
      height: 288px;
      margin-right: 40px;
    }

    &__top-desc {
      padding: 32px 50px;
      width: 560px;
    }

    &__bottom-list {
      flex-wrap: wrap;
      width: 100%;
      max-width: 777px;
      margin: 0 auto;
    }

    &__bottom-item {
      margin-bottom: 35px;
    }
  }

  @media (max-width: 1023.98px) {
    &__top-img-wrap {
      width: 203px;
      height: 203px;
      margin-right: 30px;
    }

    &__top-img {
      width: 138px;
      height: 138px;
      top: 50%;
      left: 50%;
      bottom: 50%;
      border-radius: 43px;
      transform: translate(-50%, -50%) rotate(-152deg);
    }

    &__top-desc {
      padding: 32px 40px;
      width: 384px;
    }

    &__bottom {
      margin-top: 40px;
    }
  }

  @media (max-width: 767.98px) {
    .container {
      padding: 0 20px;
    }

    &__top {
      flex-direction: column;
      align-items: center;
    }

    &__top-img-wrap {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__top-desc {
      padding: 25px 30px;
      width: 100%;
      // max-width: ;

      &:before {
        width: 0;
        height: 0;
        right: 0;
        top: auto;
        bottom: 100%;
        left: 35%;
        border-left: 16px solid transparent;
        border-bottom: 20px solid rgba(203, 233, 229, 0.3);
        border-right: 16px solid transparent;
      }
    }

    &__bottom-item {
      width: 153px;
      margin-bottom: 20px;
    }

    &__bottom-item:nth-child(5),
    &__bottom-item:nth-child(6) {
      margin-bottom: 0;
    }
  }

  @media (max-width: 374.98px) {
    &__top-desc {
      padding: 20px;
    }

    &__bottom-item {
      width: 132px;

      &:last-child .team__bottom-img-wrap {
        width: 120px;
        height: 120px;
        border-radius: 40px;
        margin: 9px 0 20px 5px;
        transform: rotate(109.37deg);
      }
    }

    &__bottom-img-wrap {
      width: 130px;
      height: 130px;
    }
  }
}
